<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">Valider Devis</div>
        <div class="panel-body">
            <form class="form-horizontal" [formGroup]="validerDevisForm" (submit)="validerDevis()">
                <div class="form-group">
                    <label class="control-label" for="ref_factureGlobal">Ref :</label>
                    <input type="text" class="form-control" name="ref_factureGlobal" id="ref_factureGlobal" formControlName="ref_factureGlobal"
                        value="{{devis.ref_devis}}" (blur)="verifRef()" autofocus required />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" *ngIf="validationRef">
                            Ref déjà utilisée
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label" for="date_creation">Date création :</label>
                    <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{devis.date_creation}}"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="montantHt">Montant HT :</label>
                    <input type="text" class="form-control" name="montantHt" id="montantHt" formControlName="montantHt" value="{{devis.montantHt}}"
                        (blur)="calculMontant()" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="tauxTva">Taux TVA :</label>
                    <input type="text" class="form-control" name="tauxTva" id="tauxTva" formControlName="tauxTva" value="{{devis.tauxTva}}" (blur)="calculMontant()"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="montantTtc">Montant TTC :</label>
                    <input type="text" class="form-control" name="montantTtc" id="montantTtc" formControlName="montantTtc" value="{{devis.montantTtc}}"
                    />
                </div>
                <div class="form-group">
                    <label class="control-label" for="client">Client :</label>
                    <input type="text" class="form-control" name="client" id="client" formControlName="client" value="{{client.nom}} {{client.prenom}}"
                    />
                </div>
                <div class="form-group">
                    <button [disabled]="!validerDevisForm.valid" type="submit" class="btn btn-success">Sauver</button>
                </div>
            </form>
        </div>
    </div>
</div>