{{client.nom}}
{{client.prenom}}
{{client._id}}
<div class="container">
<table class="table table-striped">
	<thead>
	<tr>
		<th>Ref</th>
		<th>Date</th>
		<th>Montant HT</th>
		<th>Taux TVA</th>
		<th>Montant TTC</th>
		<th>Client</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let d of listDevis">
		<td>{{d.ref_devis}}</td>
		<td>{{d.date_creation | date: 'dd/MM/yyyy'}}</td>
		<td>{{d.montantHt}}</td>
		<td>{{d.tauxTva}}</td>
		<td>{{d.montantTtc}}</td>
		<td>{{d.client}}</td>
		<td>
			<button class="btn btn-warning" (click)="onUpdate(d)">Modifier</button>
			<button class="btn btn-danger" (click)="onDelete(d._id)">Delete</button>
		</td>
	</tr>
	</tbody>
</table>
<button class="btn btn-primary" (click)="onAdd()">Ajouter devis</button>
</div>
<br/>

<div class="container col-sm-5" *ngIf="mode">
<div class="panel panel-info">
<div class="panel-heading">Devis</div>
<div class="panel-body">
<form class="form-horizontal" [formGroup]="devisForm" (submit)="addDevis()">
	<div class="form-group">
		<label class="control-label" for="ref_devis">Ref :</label>
		<input type="text" class="form-control" name="ref_devis" id="ref_devis" formControlName="devis.ref_devis" autofocus required />
	</div>
	<div class="form-group">
		<label class="control-label" for="date_creation">Date création :</label>
		<input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="devis.date_creation" />
	</div>
	<div class="form-group">
		<label class="control-label" for="montantHt">Montant HT :</label>
		<input type="text" class="form-control" name="montantHt" id="montantHt" formControlName="devis.montantHt" required />
	</div>
	<div class="form-group">
		<label class="control-label" for="tauxTva">Taux TVA :</label>
		<input type="text" class="form-control" name="tauxTva" id="tauxTva" formControlName="devis.tauxTva" required />
	</div>
	<div class="form-group">
		<label class="control-label" for="montantTtc">Montant TTC :</label>
		<input type="text" class="form-control" name="montantTtc" id="montantTtc" formControlName="devis.montantTtc" />
	</div>
	<div class="form-group">
		<label class="control-label" for="client">Id client :</label>
		<input type="text" class="form-control" name="client" id="client" formControlName="devis.client" required />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-success">Sauver</button>
	</div>
</form>
</div>
</div>
</div>
<span class="col-sm-7"></span>
