<div class="container-fluid">
    <h4>{{client.nom}} {{client.prenom}}</h4>
    <a class="btn btn-default" [routerLink]="['/client']">Retour page client</a>
    <br/>
    <!-- Flash messages -->
    <div class="row show-hide-message">
        <div [ngClass]="messageClass">
            {{ message }}
        </div>
    </div>
</div>
<div class="container-fluid col-sm-6 col-md-6">
    <h4 style="text-align: center;">Devis</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Date</th>
                <th>Montant HT</th>
                <th>Taux TVA</th>
                <th>Montant TTC</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of listDevis">
                <td>{{d.ref_devis}}</td>
                <td>{{d.date_creation | date: 'dd/MM/yyyy'}}</td>
                <td>{{d.montantHt}}</td>
                <td>{{d.tauxTva}}</td>
                <td>{{d.montantTtc}}</td>
                <td>{{client.nom}} {{client.prenom}}</td>
                <td>
                    <div class="btn-group-vertical">
                        <a class="btn btn-success" [routerLink]="['/devis/client/valider-devis', d._id]">Valider</a>
                        <button class="btn btn-warning" (click)="onUpdate(d)">Modifier</button>
                        <button class="btn btn-danger" (click)="onDelete(d._id)">Supprimer</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="onAdd()">Ajouter devis</button>

    <br/><br/>

    <div class="container-fluid" *ngIf="mode">
        <div class="panel panel-info">
            <div class="panel-heading">Devis</div>
            <div class="panel-body">
                <form class="form-horizontal" [formGroup]="devisForm" (submit)="addDevis()">
                    <div class="form-group">
                        <label class="control-label" for="ref_devis">Ref :</label>
                        <input type="text" class="form-control" name="ref_devis" id="ref_devis" formControlName="ref_devis" value="{{devis.ref_devis}}" autofocus required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="date_creation">Date création :</label>
                        <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{devis.date_creation}}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="montantHt">Montant HT :</label>
                        <input type="text" class="form-control" name="montantHt" id="montantHt" formControlName="montantHt" value="{{devis.montantHt}}" (blur)="calculMontant()" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tauxTva">Taux TVA :</label>
                        <input type="text" class="form-control" name="tauxTva" id="tauxTva" formControlName="tauxTva" value="{{devis.tauxTva}}" (blur)="calculMontant()" required />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="montantTtc">Montant TTC :</label>
                        <input type="text" class="form-control" name="montantTtc" id="montantTtc" formControlName="montantTtc" value="{{devis.montantTtc}}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="client">Client :</label>
                        <input type="text" name="client" id="client" formControlName="client" value="{{client.nom}} {{client.prenom}}" />
                        <!-- <select class="form-control" id="client" name="client" formControlName="client" value="{{devis.client}}" required>
                              <option *ngFor="let client of listClient" [ngValue]="client">{{client.nom}} {{client.prenom}}</option>
                        </select> -->
                    </div>
                    <div class="form-group">
                        <button [disabled]="!devisForm.valid" type="submit" class="btn btn-success">Sauver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid col-sm-6 col-md-6">
    <br/>
    <app-facture></app-facture>
</div>