<div class="container-fluid">
  <h4>{{factureGlobal.ref_factureGlobal}} {{factureGlobal.montantTtc}}</h4>
  <a class="btn btn-default" [routerLink]="['/devis/client/', factureGlobal.client]">Retour page Devis/Factures</a>
</div>
<div class="container-fluid">
  <h4 style="text-align: center;">Factures d'accompte</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Statut</th>
        <th>Ref</th>
        <th>Date</th>
        <th>Montant facturé TTC</th>
        <th>Règlement client TTC</th>
        <th>Facture</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of listFactureAccompte">
        <td>{{f.status_factureAccompte}}</td>
        <td>{{f.ref_factureAccompte}}</td>
        <td>{{f.date_creation | date: 'dd/MM/yyyy'}}</td>
        <td>{{f.montantFacture}}</td>
        <td>{{f.reglementClient}}</td>
        <td>{{factureGlobal.ref_factureGlobal}}</td>
        <td>
          <div class="btn-group-vertical">
            <button class="btn btn-success" (click)="onAddReglement(f)">Ajouter règlement</button>
            <button class="btn btn-danger" (click)="deleteFactureAccompte(f._id)">Supprimer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="onAdd()">Ajouter facture d'accompte</button>
  <br/><br/>

  <!-- addFactureAccompte Form -->
  <div class="container" *ngIf="mode">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Facture d'accompte</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" [formGroup]="factureForm" (submit)="addFactureAccompte()">
          <div class="form-group">
            <label class="control-label" for="ref_factureAccompte">Ref :</label>
            <input type="text" class="form-control" name="ref_factureAccompte" id="ref_factureAccompte" formControlName="ref_factureAccompte"
              autofocus required />
          </div>
          <div class="form-group">
            <label class="control-label" for="date_creation">Date création :</label>
            <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{factureGlobal.date_creation}}"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="montantFacture">Montant facturé :</label>
            <input type="text" class="form-control" name="montantFacture" id="montantFacture" formControlName="montantFacture" value="0"
              required />
          </div>
          <div class="form-group">
            <label class="control-label" for="reglementClient">Règlement client :</label>
            <input type="text" class="form-control" name="reglementClient" id="reglementClient" formControlName="reglementClient" value="0"
              required />
          </div>
          <div class="form-group">
            <label class="control-label" for="factureGlobal">factureGlobal :</label>
            <input type="text" class="form-control" name="factureGlobal" id="factureGlobal" formControlName="factureGlobal" value="{{factureGlobal.ref_factureGlobal}}"
              required />
          </div>
          <div class="form-group">
            <button [disabled]="!factureForm.valid" type="submit" class="btn btn-success">Créer facture d'accompte</button>
            <button (click)="onCancel()" class="btn btn-default">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- addReglement form -->
  <div class="container" *ngIf="modeAddReglement">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>Ajouter règlement</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" [formGroup]="reglementForm" (submit)="addReglement()">
          <div class="form-group">
            <label class="control-label" for="ref_factureAccompte">Ref :</label>
            <input type="text" class="form-control" name="ref_factureAccompte" id="ref_factureAccompte" formControlName="ref_factureAccompte"
              value="{{factureAccompte.ref_factureAccompte}}" autofocus required />
          </div>
          <div class="form-group">
            <label class="control-label" for="date_creation">Date création :</label>
            <input type="date" class="form-control" name="date_creation" id="date_creation" formControlName="date_creation" value="{{factureGlobal.date_creation}}"
            />
          </div>
          <div class="form-group">
            <label class="control-label" for="montantFacture">Montant facturé :</label>
            <input type="text" class="form-control" name="montantFacture" id="montantFacture" formControlName="montantFacture" value="{{factureAccompte.montantFacture}}"
            />
          </div>
          <!-- 
          <div class="form-group">
            <label class="control-label" for="reglementClient">Règlement client Total :</label>
            <input type="text" class="form-control" name="reglementClient" id="reglementClient" formControlName="reglementClient" value="{{factureAccompte.reglementClient}}"
            />
          </div> -->
          <div class="form-group">
            <label class="control-label" for="reglementTtc">Règlement client :</label>
            <input type="text" class="form-control" name="reglementTtc" id="reglementTtc" formControlName="reglementTtc" value="{{reglement.reglementTtc}}"
              required />
          </div>
          <div class="form-group">
            <label class="control-label" for="factureAccompte">Facture d'accompte :</label>
            <input type="text" class="form-control" name="factureAccompte" id="factureAccompte" formControlName="factureAccompte" value="{{reglement.factureAccompte}}"
              required />
          </div>
          <div *ngIf="!listReglement === null">
            <table class="table table-striped">
              <thead>
                <th>Date création</th>
                <th>Réglement client</th>
              </thead>
              <tbody>
                <tr *ngFor="let r of listReglement">
                  <td>{{r.date_creation}}</td>
                  <td>{{r.reglementTtc}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <button [disabled]="!factureForm.valid" type="submit" class="btn btn-success">Ajouter règlement</button>
            <button (click)="onCancel()" class="btn btn-default">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>